/* ==================================
   #INUITCSS
   ================================== */

/**
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */

/**
 * CONTENTS
 *
 * SETTINGS
 * Config...............Project-level configuration and feature switches.
 * Core.................inuitcss’ core and setup settings.
 * Global...............Project-wide variables and settings.
 * Colors...............Color library.
 *
 * TOOLS
 * Font-size............A mixin which guarantees baseline-friendly line-heights.
 * Clearfix.............Micro clearfix mixin.
 * Hidden...............Mixin for hiding elements.
 * Aliases..............Custom (and shorter) aliases for Inuit variables.
 * Sass MQ..............inuitcss’ default media query manager.
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 * Normalize.css........A level playing field using @necolas’ Normalize.css.
 * Reset................A tiny reset to complement Normalize.css.
 * Shared...............Sensibly and tersely share some global commonalities
 *                      (particularly useful when managing vertical rhythm).
 *
 * ELEMENTS
 * Page.................Set up our document’s default `font-size` and
 *                      `line-height`.
 * Headings.............Very minimal (i.e. only font-size information) for
 *                      headings 1 through 6.
 * Images...............Base image styles.
 * Tables...............Simple table styles.
 *
 * OBJECTS
 * Wrapper..............Page constraint object.
 * Layout...............Generic layout module.
 * Media................Image- and text-like content side by side. The
 *                      poster-child of OOCSS.
 * Flag.................Table-layout-based advancement on the Media object.
 * List-bare............Lists with no bullets or indents.
 * List-inline..........A list whose items all site in a line.
 * Box..................Simple boxing abstraction.
 * Block................Image-on-top-of-text object.
 * Ratio................A container for maintaining aspect ratio of content.
 * Crop.................Provide a cropping context for media (images, etc.).
 * Table................Classes for manipulating `table`s.
 * Pack.................Pack items into available horizontal space.
 *
 * COMPONENTS
 * Custom UI components
 *
 * SCOPE
 * Scoped styles for plain HTML elements or selectors.
 *
 * DOCUMENTATION
 * Components used for a pattern library or styleguide
 *
 * PLUGINS
 * Plugin styles
 *
 * UTILITIES
 * Widths...............Simple width helper classes.
 * Headings.............Reassigning our heading styles to helper classes.
 * Spacings.............Nudge bits of the DOM around with these spacing
 *                      classes.
 * Responsive-Spacings..Enhances the function of normal spacings for
 *                      responsive usage.
 * Print................Reset-like styles taken from the HTML5 Boilerplate.
 * Hide.................Helper classes to hide content
 */

// SETTINGS
@import "_settings/settings.config";
@import "_settings/settings.core";
@import "_settings/settings.global";
@import "_settings/settings.colors";
@import "_settings/settings.font";





// TOOLS
@import "./_vendor/inuitcss/tools/tools.font-size";
@import "./_vendor/inuitcss/tools/tools.clearfix";
@import "./_vendor/inuitcss/tools/tools.hidden";
@import "./_vendor/sass-mq/mq";
@import "_tools/tools.aliases";






// GENERIC
@import "./_vendor/inuitcss/generic/generic.box-sizing";
@import "./_vendor/inuitcss/generic/generic.normalize";
@import "./_vendor/inuitcss/generic/generic.reset";
@import "./_vendor/inuitcss/generic/generic.shared";





// ELEMENTS
@import "_elements/elements.page";
@import "./_vendor/inuitcss/elements/elements.headings";
@import "./_vendor/inuitcss/elements/elements.images";
@import "./_vendor/inuitcss/elements/elements.tables";





// OBJECTS
@import "./_vendor/inuitcss-plugin-responsive-wrapper/objects.responsive-wrapper";
@import "./_vendor/inuitcss-plugin-row/objects.row";
@import "./_vendor/inuitcss-plugin-flexlayout/objects.flexlayout";
@import "./_vendor/inuitcss/objects/objects.media";
@import "./_vendor/inuitcss/objects/objects.flag";
@import "./_vendor/inuitcss/objects/objects.list-bare";
@import "./_vendor/inuitcss/objects/objects.list-inline";
@import "./_vendor/inuitcss/objects/objects.box";
@import "./_vendor/inuitcss/objects/objects.block";
@import "./_vendor/inuitcss/objects/objects.ratio";
@import "./_vendor/inuitcss/objects/objects.crop";
@import "./_vendor/inuitcss/objects/objects.table";
@import "./_vendor/inuitcss/objects/objects.pack";





// COMPONENTS
@import "_components/components.brand";
@import "_components/components.navigation";
@import "_components/components.header";
@import "_components/components.footer";
@import "_components/components.typography";
@import "_components/components.buttons";
@import "_components/components.links";
@import "_components/components.icons";
@import "_components/components.input";
@import "_components/components.forms";
@import "_components/components.cards";
@import "_components/components.hero";
@import "_components/components.image";
@import "_components/components.illustration";





// SCOPE
@import "_scope/scope.theme";
@import "_scope/scope.editor";





// DOCUMENTATION
@import "_documentation/documentation.syntax";





// PLUGINS





// UTILITIES
@import "./_vendor/inuitcss/utilities/utilities.widths";
@import "./_vendor/inuitcss/utilities/utilities.headings";
@import "./_vendor/inuitcss/utilities/utilities.spacings";
@import "./_vendor/inuitcss/utilities/utilities.responsive-spacings";
@import "./_vendor/inuitcss/utilities/utilities.print";
@import "./_vendor/inuitcss/utilities/utilities.hide";
@import "_utilities/utilities.divider";
@import "_utilities/utilities.align";
@import "_utilities/utilities.pesticide";





// QUICK FIXES AND HACKS
@import "_shame";
