{% comment %}
{% include atom.hamburger.html %}
{% endcomment %}
<button aria-expanded="false" class="c-navigation-toggle js-nav-toggle">
  <svg viewbox="0 0 64 44" class="c-hamburger">
    <line id="nav-line-1" x1="8" x2="56" y1="8" y2="8" class="c-hamburger__line" />
    <line id="nav-line-2" x1="8" x2="56" y1="22" y2="22" class="c-hamburger__line" />
    <line id="nav-line-3" x1="8" x2="56" y1="22" y2="22" class="c-hamburger__line" />
    <line id="nav-line-4" x1="8" x2="56" y1="36" y2="36" class="c-hamburger__line" />
  </svg>
  <span>Menu</span>
</button>
