<form name="contact" method="POST" data-netlify="true" action="/register/thank-you/">
  <div class="c-fieldset">
    <h2 class="c-subtitle">Let's start with the basics</h2>
    <p class="c-field u-hidden">
      <label class="c-label" for="bot-field">Don’t fill this out if you're human: <input name="bot-field" class="c-input" /></label>
    </p>
    <p class="c-field">
      <label for="firstname" class="c-label">What’s your first name?</label>
      <input type="text" name="firstname" id="firstname" class="c-input" required>
    </p>
    <p class="c-field">
      <label for="name" class="c-label">What’s your last name?</label>
      <input type="text" name="name" id="name" class="c-input" required>
    </p>
    <p class="c-field">
      <label for="email" class="c-label">What’s your e-mail address?</label>
      <input type="email" name="email" id="email" class="c-input" required>
    </p>
    <p class="c-field">
      <label for="phone" class="c-label">What’s your phone number?</label>
      <input type="tel" name="phone" id="phone" class="c-input" required>
    </p>
    <div class="c-field">
      <label for="type" class="c-label">Would you say you are a...?</label>
      <ul class="o-list-bare">
        <li class="o-list-bare__item c-field c-field--check">
          <input type="checkbox" value="Student" name="type" id="Student"  class="c-checkbox"><label for="Student">Student</label>
        </li>
        <li class="o-list-bare__item c-field c-field--check">
          <input type="checkbox" value="Designer" name="type" id="Designer"  class="c-checkbox"><label for="Designer">Designer</label>
        </li>
        <li class="o-list-bare__item c-field c-field--check">
          <input type="checkbox" value="Frequent traveller" name="type" id="FrequentTraveller" class="c-checkbox"><label for="FrequentTraveller">Frequent traveller</label>
        </li>
      </ul>
    </div>
    <p class="c-field">
      <label for="reason" class="c-label">What excites you about Traveljam?</label>
      <textarea name="reason" id="reason" cols="30" rows="3" class="c-textarea" required></textarea>
    </p>
  </div>
  <div class="c-fieldset">
    <h2 class="c-subtitle">Now, let’s dig a little deeper.</h2>
    <div class="c-field">
      <label for="company" class="c-label">Who do you mostly travel with?</label>
      <ul class="o-list-bare">
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="radio" value="Me, myself and I" name="company" id="MeMyselfAndI" class="c-radio" required><label for="MeMyselfAndI">Me, myself and I</label>
        </li>
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="radio" value="My partner" name="company" id="MyPartner" class="c-radio" required><label for="MyPartner">My partner</label>
        </li>
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="radio" value="My family" name="company" id="MyFamily" class="c-radio" required><label for="MyFamily">My family</label>
        </li>
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="radio" value="My friends" name="company" id="MyFriends" class="c-radio"><label for="MyFriends">My friends</label>
        </li>
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="radio" value="My colleagues" name="company" id="MyColleagues" class="c-radio" required><label for="MyColleagues">My colleagues</label>
        </li>
      </ul>
    </div>
    <div class="c-field">
      <label for="how" class="c-label">How do you usually organise your city trips?</label>
      <ul class="o-list-bare">
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="radio" value="Not at all, I just go with the flow" name="how" id="Not" class="c-radio" required><label for="Not">Not at all, I just go with the flow</label>
        </li>
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="radio" value="Online" name="how" id="Online" class="c-radio" required><label for="Online">Online</label>
        </li>
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="radio" value="Travel guides or magazines" name="how" id="TravelGuides" class="c-radio" required><label for="TravelGuides">Travel guides or magazines</label>
        </li>
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="radio" value="Travel agent" name="how" id="TravelAgent" class="c-radio" required><label for="TravelAgent">Travel agent</label>
        </li>
      </ul>
    </div>
    <div class="c-field">
      <label for="what" class="c-label">What do you mostly do on a city trip?</label>
      <ul class="o-list-bare">
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="checkbox" value="Sightseeing" name="what" id="Sightseeing" class="c-checkbox"><label for="Sightseeing">Sightseeing</label>
        </li>
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="checkbox" value="Museums" name="what" id="Museums" class="c-checkbox"><label for="Museums">Museums</label>
        </li>
        <li class="o-list-bare__item c-field c-field--radio">
          <input type="checkbox" value="Eating & drinking" name="what" id="Eating & drinking" class="c-checkbox"><label for="Eating & drinking">Eating & drinking</label>
        </li>
      </ul>
    </div>
    <p class="c-field">
      <label for="comment" class="c-label">Anything else we should know? (E.g.: food allergies, …) <span class="c-badge">Optional</span></label>
      <textarea name="comment" id="comment" cols="30" rows="3" class="c-textarea"></textarea>
    </p>
  </div>
  <p class="c-fieldset c-field u-margin-bottom-none u-margin-top">
    <button role="submit" class="c-btn c-btn--secondary">Sign up</button>
  </p>
</form>
