<section id="partners" class="o-row s-theme-white">
  <div class="o-wrapper o-wrapper--huge">
    <h2 class="u-hidden-visually">Partners</h2>
    <ul class="o-layout o-layout--middle">
      <li class="o-layout__item u-1/3 u-1/3@small u-1/6@medium">
        <a href="https://www.visitantwerpen.be/nl" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/antwerpen.jpg" alt="Antwerpen" class="c-partner">
          <span class="u-hidden-visually">Antwerpen</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/3@small u-1/6@medium">
        <a href="https://www.visitbruges.be/" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/brugge.jpg" alt="Brugge" class="c-partner">
          <span class="u-hidden-visually">Brugge</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/3@small u-1/6@medium">
        <a href="https://visit.brussels/nl" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/brussels.jpg" alt="Brussel" class="c-partner">
          <span class="u-hidden-visually">Brussel</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/3@small u-1/6@medium">
        <a href="https://visit.gent.be/nl" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/gent.jpg" alt="Gent" class="c-partner">
          <span class="u-hidden-visually">Gent</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/3@small u-1/6@medium">
        <a href="https://www.visitleuven.be/nl" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/leuven.jpg" alt="Leuven" class="c-partner">
          <span class="u-hidden-visually">Leuven</span>
        </a>
      </li>
      <li class="o-layout__item u-1/3 u-1/3@small u-1/6@medium">
        <a href="https://toerisme.mechelen.be/en" target="_blank" class="c-link c-link--image">
          <img src="/assets/img/jpg/mechelen.jpg" alt="Mechelen" class="c-partner">
          <span class="u-hidden-visually">Mechelen</span>
        </a>
      </li>
    </ul>
  </div>
</section>
