{% comment %}
{% include organism.header.html %}
{% endcomment %}
<header>
  <div class="o-row c-color-white u-padding-bottom">
    <div class="o-wrapper o-wrapper--huge">
      <div class="c-header">
        {% include atom.logo.html %}
        {% include molecule.navigation.html %}
      </div>
    </div>
  </div>
  <div class="c-baseline">
    <p class="u-margin-bottom-tiny">Bruges - Ghent - Brussels - Antwerp - Mechelen - Leuven</p>
    <p class="u-margin-bottom-none">An event organised by <a href="http://kunststedenvlaanderen.be/" class="c-link c-link--neutral" target="_blank">Kunststeden Vlaanderen</a> & <a href="https://visit.brussels/" class="c-link c-link--neutral" target="_blank">visit.brussels</a></p>
  </div>
</header>
