{% comment %}
{% include organism.footer.html %}
{% endcomment %}
<div class="o-row c-color-white">
  <div class="o-wrapper o-wrapper--huge">
    <div class="o-layout">
      <div class="o-layout__item u-1/2@small">
        {% include molecule.social-links.html %}
      </div>
      <div class="o-layout__item u-1/2@small">
        <small class="c-small u-margin-bottom-none">
          <a href="/kleine-lettertjes/" class="c-link">{{ site.labels.legal }}</a>
        </small>
      </div>
    </div>
  </div>
</div>
