/* ==================================
   #CARDS
   ================================== */

.c-card {
  position: relative;
  border-radius: $radius;
  box-shadow: 0 0 0 2px rgba($color-neutral,.1);
  transition: box-shadow $duration $easing;
  height: 100%;
}

.c-card--neutral {
  background-color: rgba($color-neutral-light,.5);
}

.c-card--link {
  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: 0 10px 10px rgba($color-neutral,.1), 0 0 0 2px rgba($color-neutral,.3);
  }
}

.c-card,
.c-card__body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

  .c-card__body {
    flex-grow: 1;

    > * {
      margin-bottom: 0;
    }

    > * + * {
      margin-top: $unit-small;
    }

    > *:last-child {
      margin-top: auto;
    }

    > *:nth-last-child(2) {
      margin-bottom: $unit;
    }
  }

  .c-card__link {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
