/* ==================================
   #TYPOGRAPHY
   ================================== */

.c-page-title {
  @include font-size($h2,1.3);
  font-family: $font-secondary;
  font-weight: $bold;
  max-width: 12em;
  margin-bottom: $unit-small;

  @include mq(small) {
    @include font-size($h1,1.2);
    margin-bottom: $unit;
  }

  @include mq(medium) {
    @include font-size($large,1.2);
    margin-bottom: $unit;
  }

  @include mq(large) {
    @include font-size($huge,1.2);
    margin-bottom: $unit;
  }
}

.c-title {
  @include font-size($h3,1.5);
  margin-bottom: $unit-small;
  font-family: $font-secondary;
  font-weight: $bold;

  .s-theme-white & {
    color: $color-primary-dark;
  }

  @include mq(medium) {
    @include font-size($h2,1.5);
  }
}

.c-title--border {
  margin-bottom: $unit;
  padding-bottom: $unit;
  border-bottom: 2px solid shade($color-secondary-xlight,10);
}

.c-subtitle {
  @include font-size($h5,1.5);
  margin-bottom: $unit-small;
  font-family: $font-secondary;
  font-weight: $bold;

  @include mq(medium) {
    @include font-size($h4,1.5);
  }
}

.c-subtitle--border {
  padding-bottom: $unit-small;
  border-bottom: 1px solid $color-neutral-light;
}

.c-small-title {
  @include font-size($h6,1.5);
  margin-bottom: $unit-small;
  font-family: $font-secondary;
  font-weight: $bold;

  @include mq(medium) {
    @include font-size($h5,1.5);
  }
}

.c-para {
  @include font-size($tiny,1.5);
  max-width: 45em;

  @include mq(medium) {
    @include font-size($h6);
  }
}

.c-para-small {
  @include font-size($tiny,1.5);
  font-weight: $medium;
  font-family: $font-secondary;

  @include mq(medium) {
    @include font-size($small,1.5);
  }
}


.c-small {
  padding-top: $unit-tiny/2;
  display: block;
  color: $color-primary-dark;

  @include mq(medium) {
    text-align: right;
  }
}


.c-lead {
  @include font-size($h5,1.5);
  font-family: $font-primary;
  margin-bottom: $unit-large;

  @include mq(medium) {
    @include font-size($h4,1.5);
  }
}

.c-list {
  font-weight: $medium;
}

  .c-list__item {
    & + & {
      margin-top: $unit-tiny;
      padding-top: $unit-tiny;
      border-top: 1px dotted $color-primary-xlight;
    }

    @include mq(small) {
      & + & {
        margin-top: $unit-small;
        padding-top: $unit-small;
      }
    }
  }

.c-list-small {
  font-family: $font-secondary;
}

  .c-list-small__item {
    > a {
      font-weight: $medium;
    }

    & + & {
      margin-top: $unit-tiny;
      padding-top: $unit-tiny;
      border-top: 1px dotted shade($color-secondary-xlight,20);
    }

    @include mq(small) {
      & + & {
        margin-top: $unit-small;
        padding-top: $unit-small;
      }
    }
  }


.c-list-inline {
  font-weight: $medium;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  @include mq(small) {
    flex-direction: row;
  }
}

  .c-list-inline__item {
    > a {
      white-space: nowrap;
    }

    & + & {
      margin-top: $unit-tiny;
      padding-top: $unit-tiny;
      border-top: 1px dotted $color-primary-xlight;
    }

    @include mq(small) {
      & + & {
        display: block;
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
        margin-left: $unit;
      }
    }
  }

.c-list-agenda {
  @include font-size($tiny);
  font-weight: $medium;

  @include mq(medium) {
    @include font-size($h6);
  }
}

  .c-list-agenda__item {
    position: relative;
    margin-left: $unit-large + $unit;

    & + & {
      margin-top: $unit-tiny;
      padding-top: $unit-tiny;
      border-top: 1px dotted $color-primary-xlight;
    }

    > strong {
      display: block;
      position: absolute;
      left: -$unit-large - $unit;
    }

    @include mq(small) {
      & + & {
        margin-top: $unit-small;
        padding-top: $unit-small;
      }
    }
  }

.c-list-big {
  @include font-size($small);
  font-weight: $medium;

  @include mq(medium) {
    @include font-size($h4);
  }

  @include mq(large) {
    @include font-size($h3);
  }
}

  .c-list-big__item {
    & + & {
      margin-top: $unit-tiny;
    }

    @include mq(small) {
      & + & {
        margin-top: $unit-small;
      }
    }
  }

.c-date {
  font-weight: $regular;
}

// Badge > Small text with background color
// ---
.c-badge {
  @include font-size($tiny,1.3);
  display: inline-block;
  padding: $unit-tiny/2 $unit-tiny;
  color: $color-neutral;
  background-color: $color-neutral-xxlight;
  border-radius: $radius;

  .c-form & {
    margin-left: $unit-tiny;
  }
}

.c-badge--negative {
  color: $white;
  background-color: $color-neutral-light;
}

.c-badge--icon {
  line-height: 1;
  position: absolute;
  display: table;
  right: -$unit-tiny;
  top: -$unit-tiny;
  border-radius: 1.5em;
  width: 1.5em;
  height: 1.5em;
  padding: .3em .5em;
  border: 2px solid $white;
  vertical-align: middle;
  text-align: center;
}
