---
layout: default
---

<div class="c-hero">
  <div class="c-hero__image">
    <img src="{{ page.hero.image }}" alt="{{ page.hero.imageAlt }}">
  </div>
  <div class="c-hero__body o-row-large">
    <div class="o-wrapper o-wrapper--large">
      <div class="o-box o-box--flush">
        <h1 class="c-page-title">{{ page.hero.title }}</h1>
        <ul class="o-list-bare c-list-big">
          <li class="c-list-big__item">{% include atom.icon.html value="date" %} {{ page.hero.date }}</li>
          <li class="c-list-big__item"><a href="{{ page.hero.locationLink }}" class="c-link c-link--faux c-link--negative" target="_blank">{% include atom.icon.html value="location" %} {{ page.hero.location}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="o-row-large s-theme-secondary">
  <div class="o-wrapper o-wrapper--large">
    <div class="o-layout o-layout--flush">
      <div class="o-layout__item u-2/3@medium u-push-1/6@medium u-text-center">
        <h2 class="c-title">{{ page.opdracht.title }}</h2>
        <p class="c-lead u-margin-bottom-small">
          {{ page.opdracht.para-one }}
        </p>
        <p class="c-lead u-margin-bottom-small">
          {{ page.opdracht.para-two }}
        </p>
        <p class="c-lead u-margin-bottom-none">
          {{ page.opdracht.para-three }}
        </p>
      </div>
    </div>
  </div>
</div>

<div id="opdracht" class="o-row-large s-theme-white">
  <div class="o-wrapper o-wrapper--large">
    <div class="o-layout o-layout--large">
      <div class="o-layout__item u-1/2@medium">
        <h3 class="c-subtitle">{{ page.opdracht.subtitle-one }}</h3>
        <p class="c-para u-margin-bottom-none">
          {{ page.opdracht.subpara-one }}
        </p>
      </div>
      <div class="o-layout__item u-1/2@medium">
        <h3 class="c-subtitle">{{ page.opdracht.subtitle-two }}</h3>
        <p class="c-para u-margin-bottom-none">
          {{ page.opdracht.subpara-two }}
        </p>
      </div>
      <div class="o-layout__item u-1/2@medium">
        <h3 class="c-subtitle">{{ page.opdracht.subtitle-three }}</h3>
        <p class="c-para u-margin-bottom">
          {{ page.opdracht.subpara-three }}
        </p>
        <ul class="o-list-bare c-list u-margin-bottom-none">
          {% for item in page.opdracht.list-one %}
          <li class="c-list__item">{{ item.para }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="o-layout__item u-1/2@medium">
        <h3 class="c-subtitle">{{ page.opdracht.subtitle-four }}</h3>
        <p class="c-para u-margin-bottom">
          {{ page.opdracht.subpara-four }}
        </p>
        <ul class="o-list-bare c-list u-margin-bottom-none">
          {% for item in page.opdracht.list-two %}
          <li class="c-list__item">{{ item.para }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="reward" class="o-row-large s-theme-primary-dark">
  <div class="o-wrapper o-wrapper--large">
    <div class="o-layout o-layout--flush u-text-center u-margin-bottom">
      <div class="o-layout__item u-2/3@medium u-push-1/6@medium">
        <h3 class="c-title">{{ page.opdracht.subtitle-five }}</h3>
      </div>
    </div>
    <div class="o-layout u-margin-bottom">
      {% for item in page.opdracht.list-three %}
      <div class="o-layout__item u-1/3@medium">
        <p class="c-lead u-margin-bottom-none">{{ item.para }}</p></div>
      {% endfor %}
    </div>
    <div class="o-layout o-layout--flush u-text-center@medium">
      <div class="o-layout__item u-2/3@medium u-push-1/6@medium">
        <p class="c-lead u-margin-bottom-none">
          {{ page.opdracht.subpara-five }}
        </p>
      </div>
    </div>
  </div>
</div>

<div id="programma" class="o-row-large s-theme-white">
  <div class="o-wrapper o-wrapper--large">
    <h2 class="c-title u-margin-bottom u-margin-bottom-large@medium u-text-center">{{ page.program.title }}</h2>
    <div class="o-layout o-layout--small">
      <div class="o-layout__item">
        <article class="c-card c-card--neutral">
          <div class="o-box">
            <h3 class="c-subtitle c-subtitle--border"><span class="c-date">{{ page.program.dataDate }}:</span> {{ page.program.dataTitle }}</h3>
            <p class="c-para">{{ page.program.dataPara }}</p>
          </div>
        </article>
      </div>
      <div class="o-layout__item">
        <article class="c-card">
          <div class="o-box">
            <h3 class="c-subtitle c-subtitle--border"><span class="c-date">{{ page.program.fridayDate }}:</span> {{ page.program.friday }}</h3>
            <ul class="o-list-bare c-list-agenda">
              {% for item in page.program.scheduleFriday %}
              <li class="c-list-agenda__item"><strong class="c-badge">{{ item.hour }}</strong> {{ item.para }}</li>
              {% endfor %}
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div id="venue" class="o-row-large s-theme-primary-dark">
  <div class="o-wrapper o-wrapper--large">
    <div class="o-layout o-layout--flush u-text-center">
      <div class="o-layout__item u-2/3@medium u-push-1/6@medium">
      <h2 class="c-title">{{ page.venue.title }}</h2>
      <p class="c-lead u-margin-bottom-large">
        {{ page.venue.para-one }}
      </p>
      <p class="c-para u-margin-bottom-none">
        {{ page.venue.para-two }}
      </p>
      </div>
    </div>
  </div>
</div>

<div class="o-layout o-layout--flush s-theme-primary-dark">
  {% for item in page.opdracht.images %}
  <div class="o-layout__item u-1/3">
    <div class="o-crop o-crop--fit o-crop--16:9 c-image c-image--one">
      <img src="{{ item.image }}" alt="{{ item.alt }}" class="o-crop__content o-crop__content--center">
    </div>
  </div>
  {% endfor %}
</div>

<div id="coaches" class="o-row-large s-theme-primary-xlight">
  <div class="o-wrapper o-wrapper--large">
    <h2 class="c-title u-margin-bottom u-margin-bottom-large@medium u-text-center">{{ page.coaches.title }}</h2>
    <ul class="o-layout o-layout--center u-margin-bottom">
      {% comment %}
      Edit coaches in _data/coaches.yml
      {% endcomment %}
      {% for item in site.data.coaches %}
      <li class="o-layout__item u-1/2@small u-1/3@large">
        {% include molecule.card.html image=item.image title=item.title body=item.body footnote=item.footnote link=item.link %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="inschrijven" class="o-row-large s-theme-secondary">
  <div class="o-wrapper">
    <div class="o-box u-text-center">
      <h2 class="c-title">{{ page.subscribe.title }}</h2>
      <p class="c-lead u-margin-bottom-small">
        {{ page.subscribe.para }}
      </p>
      <p class="c-para u-margin-bottom-large">
        {{ page.subscribe.subpara }}
      </p>
      <p class="u-margin-bottom-none">
        <a href="{{ page.subscribe.linkHref }}" class="c-btn c-btn--large c-btn--primary c-btn--large">{{ page.subscribe.link }} {% include atom.icon.html value="arrow" %}</a>
      </p>
    </div>
  </div>
</div>
